<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>868457237501-jnuc576sthvj010bcn81op089pejo8ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868457237501-jnuc576sthvj010bcn81op089pejo8ne</string>
	<key>API_KEY</key>
	<string>AIzaSyAS20TYpMcbXjeIDD2bkPrBScnPiC3egTg</string>
	<key>GCM_SENDER_ID</key>
	<string>868457237501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pingry.pingryapp</string>
	<key>PROJECT_ID</key>
	<string>pingry-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pingry-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:868457237501:ios:9905a41b403b7e64</string>
	<key>DATABASE_URL</key>
	<string>https://pingry-app.firebaseio.com</string>
</dict>
</plist>