<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="false">
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content no-bounce padding>
	<ion-grid>
    <ion-row><ion-col><b>Version:</b></ion-col><ion-col>{{appVersion}}</ion-col></ion-row>
    <ion-row><ion-col><b>Author:</b></ion-col><ion-col>Alex Strasser '19</ion-col></ion-row>
    <ion-row>
      <ion-col><b>Other Credits: </b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="5">Dillon Shu '19</ion-col>
      <ion-col size="5">Android Assistant</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="5">Brian Kaplan '19</ion-col>
      <ion-col size="5">iOS Assistant</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="5">Steve Frantz & Apu</ion-col>
      <ion-col size="5">Backend Logistics</ion-col>
    </ion-row>
  </ion-grid>
	<div class="request"><a (click)="openHelp()">Found a bug or have a request?</a></div>
</ion-content>
