<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Athletics</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event);">
    <ion-refresher-content>Pull to Refresh</ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<h2 ion-item style="text-align:center; margin-top:25px" *ngIf="events.length == 0">No events found!</h2>
		<ion-item tappable class="athleticEvent" [ngStyle]="{color:event.desc.toLowerCase().indexOf('cancelled')!=-1?'#F00':'#000'}" *ngFor="let event of displayEvents" (click)="openMapsLocation(event.location)">
			<div class="athleticEventTitle">{{event.title}}</div>
			<div class="athleticEventTime">{{formatTime(event.startTime)}}</div>
			<div class="athleticEventDesc">{{event.desc}}</div>
		</ion-item>
	</ion-list>
  <ion-infinite-scroll (ionInfinite)="displayMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
