<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="false">
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Athletics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event);">
    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<h2 ion-item style="text-align:center; margin-top:25px" *ngIf="events.length == 0">No events found!</h2>
		<ion-item tappable class="athleticEvent" [ngStyle]="{color:eventCancelled(event)?'#F00':'#000'}" *ngFor="let event of displayEvents">
			<ion-label>
        <div class="athleticEventTitle">{{event.title}}</div>
  			<div class="athleticEventTime">{{formatTime(event.startTime)}}</div>
  			<p class="athleticEventDesc">{{event.desc}}</p>
        <a (click)="openMapsLocation(event)" *ngIf="event.location">{{event.location}}</a>
      </ion-label>
		</ion-item>
	</ion-list>
  <ion-infinite-scroll (ionInfinite)="displayMore($event.target)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
