page-athletics {

  .athleticEventTitle {
  	font-weight: bold;
  	display:inline-block;
  }

  .athleticEventTime {
  	display:inline-block;
  	float:right;
  }

  .athleticEventDesc {
  	display:block;
  	white-space:normal;
  }
}
