<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Athletics</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refresh();">
    <ion-refresher-content>Pull to Refresh</ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<h2 ion-item style="text-align:center; margin-top:25px" *ngIf="events.length == 0">No events found!</h2>
		<ion-item class="athleticEvent" [class]="{'cancelled':event.desc.toLowerCase().indexOf('cancelled')!=-1}" *ngFor="let event of events" (click)="openMapsLocation(event.location)">
			<div class="athleticEventTitle">{{event.title}}</div>
			<div class="athleticEventTime">{{formatTime(event.startTime)}}</div>
			<div class="athleticEventDesc">{{event.desc}}</div>
		</ion-item>
	</ion-list>
</ion-content>
