<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="false">
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list lines="inset">
		<ion-item tappable *ngFor="let feedItem of rss" (click)="openAnnounce(feedItem)">
      <ion-label>
  			<h2 class="rssTitle">{{feedItem.title}}</h2>
        <p class="rssDescription">{{feedItem.description}}</p>
      </ion-label>
		</ion-item>
		<div class="spacer" style="height:10px"></div>
		<ion-item (click)="openSystemLink('https://goo.gl/forms/xCkWNZLQE8YOS2823')"><ion-label>Submit an Announcement</ion-label></ion-item>
	</ion-list>
</ion-content>
