<ion-app>
  <ion-menu side="start" id="main-menu" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content no-bounce>
      <ion-list>
        <ion-item tappable *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

  <!--ion-menu-controller></ion-menu-controller-->
</ion-app>
