<ion-header>
  <ion-navbar>
    <ion-title>Advanced Color Picker</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="pickerIonContent">
  <span [(colorPicker)]="color"
      [cpDialogDisplay]="'inline'"
      [cpWidth]="colorPickerWidth"
      [cpToggle]="true"
      [cpAlphaChannel]="disabled"
      ></span>
  <button ion-button full color="primary" (click)="save()">Save</button>
  <button ion-button full color="light" (click)="close()" class="submit-btn">Cancel</button>
</ion-content>
