<ion-header>
  <ion-navbar>
    <ion-title>To Do Configuration</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Task Name</ion-label>
      <ion-input [(ngModel)]="cls.tasks[taskIndex].name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Class</ion-label>
      <ion-note item-end>{{cls.name}}</ion-note>
    </ion-item>
    <!--ion-item>
      <ion-label>Mode</ion-label>
      <ion-select [(ngModel)]="cls.tasks[taskIndex].mode">
        <ion-option>Single Event</ion-option>
        <ion-option>Recurring by Letter Day</ion-option>
        <ion-option>Recurring by Weekday</ion-option>
      </ion-select>
    </ion-item-->
    <ion-item (press)="cls.tasks[taskIndex].date = ''">
      <ion-label>Due Date</ion-label>
      <ion-datetime [max]="maxDay" [min]="minDay" [(ngModel)]="cls.tasks[taskIndex].date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Reminder Enabled</ion-label>
      <ion-toggle [(ngModel)]="!!cls.tasks[taskIndex].reminder" (ngModelChange)="reminderEnableChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Reminder Time</ion-label>
      <ion-datetime [(ngModel)]="cls.tasks[taskIndex].reminder" (ngModelChange)="reminderChange()" [disabled]="!cls.tasks[taskIndex].reminder"
            pickerFormat="h mm a M D YY" displayFormat="h:mma M/D/YY" [max]="maxDay" [min]="minDay" placeholder="Disabled"></ion-datetime>
    </ion-item>
  </ion-list>
  <button ion-button full color="primary" (click)="close()">Save and Close</button>
  <button ion-button full color="danger" (click)="delete()">Delete</button>
</ion-content>
