<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
    <img (click)="dddHelp()" tappable *ngIf="ddd=='charity'" class="ddd-icon" src="assets/img/charity-icon.png" />
    <img (click)="dddHelp()" tappable *ngIf="ddd=='spirit'" class="ddd-icon" src="assets/img/spirit-icon.png" />
    <img (click)="dddHelp()" tappable *ngIf="ddd=='free'" class="ddd-icon" src="assets/img/tshirt-icon.png" />
    <img (click)="dddHelp()" tappable *ngIf="ddd=='fancy'" class="ddd-icon" src="assets/img/tie-icon.png" />
  </ion-navbar>
</ion-header>


<ion-content no-bounce padding style="overflow-x:hidden" id="scheduleContent">
  <div class="scroll-content" (swipe)="swipeEvent($event)">
  	<div style="display:block">
  		<div id="changeDayMenu" (press)="resetDate()">
  			<div id="changeDayLeft" tappable (click)="prevDay()"><ion-icon name="arrow-dropleft" class="changeDayIcon"></ion-icon></div>
        <ion-datetime id="currentDay" [max]="maxISOday" [min]="minISOday" displayFormat="DDD MMM D YYYY" pickerFormat="MMM D YYYY" [(ngModel)]="curISOday" (ngModelChange)="dateChange()"></ion-datetime>
  			<div id="changeDayRight" tappable (click)="nextDay()"><ion-icon name="arrow-dropright" class="changeDayIcon"></ion-icon></div>
  		</div>
  		<div id="letterMenu" *ngIf="isLetter(letter)">
  			<div id="letter">{{letter}}</div>
  			<div id="periods">{{periodList}}</div>
  		</div>
  	</div>
  	<div id="nonSchoolDay" *ngIf="letter==''">No school!</div>
    <ion-grid style="padding:0" id="scheduleSwipe">
      <ion-row *ngFor="let cls of classes" tappable (click)="clickedClass(cls)" class="row class-{{cls.type}}" [ngStyle]="{background: cls.color}">
        <ion-col col-4 class="class-time">
          <div style="display: inline" class="startTime">{{formatTime(cls.startTime)}}</div>
  				<div style="display: inline" *ngIf="cls.type == 'block'"><br><br></div>
  				<div style="display: inline" *ngIf="cls.type == 'staticblock'"><br></div>
  				<div style="display: inline" *ngIf="cls.type != 'block' && cls.type != 'staticblock' && cls.startTime != ''"> - </div>
  				<div style="display: inline" class="endTime">{{formatTime(cls.endTime)}}</div>
        </ion-col>
        <ion-col col-8 class="class-name {{cls.type}}" style="white-space:initial">{{cls.name}}</ion-col>
      </ion-row>
    </ion-grid>
  	<!--div id="mySchedule" class="list">
  		<div *ngFor="let cls of classes" (click)="clickedClass(cls);" class="item row class-{{cls.type}}" style="background-color: {{cls.color}}; border-bottom:0px;border-top:0px;">
  			<div class="col col-33 class-time">
  				<div style="display: inline" class="startTime">{{formatTime(cls.startTime)}}</div>
  				<div style="display: inline" *ngIf="cls.type == 'block'"><br><br></div>
  				<div style="display: inline" *ngIf="cls.type == 'staticblock'"><br></div>
  				<div style="display: inline" *ngIf="cls.type != 'block' && cls.type != 'staticblock' && cls.startTime != ''"> - </div>
  				<div style="display: inline" class="endTime">{{formatTime(cls.endTime)}}</div>
  			</div>
  			<div class="col col-67 class-name col-center" style="white-space:initial;">{{cls.name}}</div>
  		</div>
  	</div-->
  </div>
</ion-content>
