.todo-class {
	background-color: #fff;
  padding: 3px;
  border: 1px solid white;
  transition-duration: 500ms;
}

.todo-class-title {
	font-size:22px;
	font-weight:bold;
}

.todo-list-element {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:18px;
  transition-duration: 1s;
}

.todo-list-box {
	padding:10px;
  padding-left:3px;
}

.todo-list-box.icon-ios {
  font-weight: 700;
}

.todo-assignment {
	display:inline-flex;
	width: calc(100% - 45px);
}

.todo-new-assignment-name {
	font-size: 18px !important;
}

.todo-background-new-assignment {
	opacity:0.5;
}

.todo-new-assignment-name {
	border-bottom: 1px solid black !important;
}

.todo-assignment-name {
	flex: 1;
	background-color: rgba(255, 255, 255, 0);
	font-size:17px !important;
  border:none;
  border-bottom: 1px solid black;
}

.todo-assignment-date {
  padding: 0;
  flex: 0 1 0;
  margin-left: 10px;
	float:right;
  position:relative;
  text-align:right;
}

.todo-assignment-add-date {

}
