.submit-btn {
  margin-top:10px;
}

.action-sheet-group {
  text-align: center;
}

.color-picker {
  border-radius: 4px;
  width: 15%;
  margin: 5% !important;
}

.color-picker span {
  opacity: 0 !important;
}

.color-picker-0 {
  background-color: #ea3c3c !important;
}
.color-picker-1 {
  background-color: #f9981f !important;
}
.color-picker-2 {
  background-color: #fbf432 !important;
}
.color-picker-3 {
  background-color: #40ef40 !important;
}
.color-picker-4 {
  background-color: #40ff9f !important;
}
.color-picker-5 {
  background-color: #56e8ff !important;
}
.color-picker-6 {
  background-color: #1f78ff !important;
}
.color-picker-7 {
  background-color: #c348e2 !important;
}
.color-picker-8 {
  background-color: #ff4d9e !important;
}
.color-picker-9 {
  background-color: #e2e2e2 !important;
}
.color-picker-10 {
  background-color: #fff !important;
  border-bottom: 1px solid black !important;
  border-bottom-color: black !important;
}
