<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Class</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item id="className">
      <ion-label fixed>Name</ion-label>
      <ion-input type="text" [(ngModel)]="cls.name"></ion-input>
    </ion-item>
		<ion-item class="color-picker" tappable (click)="openColorPicker()">
      <ion-label>
	      Color
      </ion-label>
		</ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="cls.type" (ionChange)="cls.time.id=false; cls.time.day=''; cls.takesFlex='';">
        <ion-select-option value="block">Class</ion-select-option>
        <ion-select-option value="flex">Flex</ion-select-option>
        <ion-select-option value="CP">CP</ion-select-option>
      </ion-select>
    </ion-item>
		<ion-item style="pointer-events:initial !important" *ngIf="cls.type=='block'">
			<ion-label><span (click)="lunchHelp($event)" tappable>First Lunch<ion-icon name="help" style="vertical-align:top; padding-left: 5px; font-size:0.6em"></ion-icon></span></ion-label>
			<ion-toggle [(ngModel)]="cls.firstLunch"></ion-toggle>
		</ion-item>
    <ion-item *ngIf="cls.type=='block'">
			<ion-label>Science</ion-label>
			<ion-select (ionChange)="takesFlexChange($event)">
        <ion-select-option [selected]="cls.takesFlex == ''" value="">No flexes</ion-select-option>
        <ion-select-option [selected]="cls.takesFlex == 'both'" value="both">All adjacent flexes</ion-select-option>
        <ion-select-option [selected]="cls.takesFlex == 'before'" value="before">Only flexes before the class</ion-select-option>
        <ion-select-option [selected]="cls.takesFlex == 'after'" value="after">Only flexes after the class</ion-select-option>
        <ion-select-option [selected]="cls.takesFlex == 'cp'" value="cp">All adjacent flexes and CP</ion-select-option>
      </ion-select>
		</ion-item>
    <ion-item *ngIf="cls.type=='block'">
      <ion-label>Period</ion-label>
      <ion-select [(ngModel)]="cls.time.id">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="cls.type=='flex'">
			<ion-label>First Flex</ion-label>
			<ion-toggle [(ngModel)]="cls.time.id"></ion-toggle>
		</ion-item>
    <ion-item *ngIf="cls.type=='flex'||cls.type=='CP'">
      <ion-label>Timing Type</ion-label>
      <ion-select [(ngModel)]="cls.timeType">
        <ion-select-option value="weekday">Day of the Week</ion-select-option>
        <ion-select-option value="letter">Letter Day</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="(cls.type=='flex'||cls.type=='CP')&&cls.timeType=='letter'">
      <ion-label>Letter</ion-label>
      <ion-select [(ngModel)]="cls.time.day">
        <ion-select-option value="A">A</ion-select-option>
        <ion-select-option value="B">B</ion-select-option>
        <ion-select-option value="C">C</ion-select-option>
        <ion-select-option value="D">D</ion-select-option>
        <ion-select-option value="E">E</ion-select-option>
        <ion-select-option value="F">F</ion-select-option>
        <ion-select-option value="G">G</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="(cls.type=='flex'||cls.type=='CP')&&cls.timeType=='weekday'">
      <ion-label>Day of Week</ion-label>
      <ion-select [(ngModel)]="cls.time.day">
        <ion-select-option value="1">Monday</ion-select-option>
        <ion-select-option value="2">Tuesday</ion-select-option>
        <ion-select-option value="3">Wednesday</ion-select-option>
        <ion-select-option value="4">Thursday</ion-select-option>
        <ion-select-option value="5">Friday</ion-select-option>
      </ion-select>
    </ion-item>

		<ion-button expand="full" color="primary" (click)="update(cls)" *ngIf="modifying" [disabled]="!isValid(cls)">Update</ion-button>
		<ion-button expand="full" color="danger" (click)="delete()" *ngIf="modifying" class="submit-btn">Delete Class</ion-button>
		<ion-button expand="full" color="primary" (click)="submit(cls)" *ngIf="!modifying" [disabled]="!isValid(cls)">Submit</ion-button>
    <ion-button expand="full" color="light" (click)="back()" class="submit-btn">Cancel</ion-button>
		<!-- Type Dropdown               Class, Flex, CP, -->
		<!-- Timing Selection -->
			<!-- First Lunch Toggle      Class    -->
			<!-- Takes Flex Toggle       Class    -->
			<!-- Block Period            Class    -->
			<!-- Repeating Toggle        Flex, CP -->
			<!-- Flex 1st/2nd            Flex     -->
			<!-- Letter vs Day           Flex, CP -->
				<!-- Letter Selection        Flex, CP -->
				<!-- Day Selection           Flex, CP -->
	</ion-list>
</ion-content>
