<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce>
  <ion-list>
		<ion-item tappable (click)="openClassManagement()">Class Management</ion-item>
		<ion-item>
      <ion-label>Athletic Event Maps</ion-label>
      <ion-toggle [(ngModel)]="athleticMaps" (ngModelChange)="updateAthleticMaps(athleticMaps)"></ion-toggle>
		</ion-item>
    <ion-item>
      <ion-label>Athletic Team Subscription</ion-label><br>
      <ion-select [(ngModel)]="subscriptions" (ngModelChange)="updateAthleticSubscription()" multiple="true">
        <ion-option [value]="-1">All Calendars</ion-option>
        <ion-option *ngFor="let cal of athleticCalendars" [value]="cal.id">{{cal.name}}</ion-option>
      </ion-select>
    </ion-item>
	</ion-list>
</ion-content>
